body{
  /*background-image: url("http://i.ytimg.com/vi/roTHJH3_URA/maxresdefault.jpg");*/
  background-size: cover;
  background-color: rgb(153, 0, 51);
  background-repeat: no-repeat;
}

h1{
  font-family: "avenir";
}

.box1{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box2{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box3{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box4{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box5{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box6{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}
.box7{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box8{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.box9{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}


input[type=checkbox] + label {
  color: #ccc;
}

input[type=checkbox]:checked + label {
  color: #f00;
}
