body{
  /*background-image: url("http://i.ytimg.com/vi/roTHJH3_URA/maxresdefault.jpg");*/
  background-size: cover;
  background-color: rgb(153, 0, 51);
  background-repeat: no-repeat;
}

h1{
  font-family: "avenir";
}

.button{
  width: 100px;
  height: 100px;
  background: yellow;
  margin: 10px;
  display: inline-block;
}

.player1{
  width: 100px;
  height: 100px;
  background: red;
  margin: 10px;
  display: inline-block;
}

.player2{
  width: 100px;
  height: 100px;
  background: blue;
  margin: 10px;
  display: inline-block;
}

input[type=checkbox] + label {
  color: #ccc;
}

input[type=checkbox]:checked + label {
  color: #f00;
}
